@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Tajawal");

html, body, #app {
  background-color: #f3f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tajawal", 微軟正黑體;
  max-width: 1440px;
}

@media screen and (min-width: 768px) {
  #app {
    max-width: 1024px;
    .container {
      flex: 12;
      max-width: 1000px;
      img {
        &.nav, &.logo {
          display: none;
        }
      }
      .back {
        display: none;
      }
      img.photo {
        width: 120%;
        height: 400px;
      }
    }
    ul {
      padding: 0px;
      li {
        display: inline-block;
        font-size: 15px;
        background-color: #353535;
        color: #f3f7f7;
        border-radius: 5px;
        padding: 6px 15px;
        margin: 5px;
        list-style: none;
      }
    }
    .containerB {
      flex: 1;
      margin-top: -20%;
      margin-left: -20%;
      .top img.navbar {
        margin: 30px 35px;
        width: 40px;
      }
      .list-group {
        margin-top: 130%;
        display: flex;
        flex-direction: column;
        img.navbar {
          margin: 20px 35px;
          width: 40px;
        }
      }
    }
    .underContainer {
      display: flex;
      .spaceType {
        font-size: 20px;
        input[type="radio"] {
          width: 30px;
        }
      }
      .underContainerLeft {
        padding: 30px 60px;
        .containNum {
          align-items: center;
          margin-top: 20px;
          display: flex;
          img.spaceTypeIcon {
            height: 40px;
            margin-right: 20px;
          }
          input.num {
            margin: 0px 20px;
            width: 40px;
            height: 20px;
          }
        }
        p, .address, .description {
          font-size: 20px;
        }
      }
      .underContainerRight {
        padding: 30px;
        input[type="date"] {
          width: 300px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .containerB {
    display: none;
  }
  .container {
    width: 324px;
    height: 950px;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    overflow: hidden;
    padding: 50px;
    .spaceType {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .middle .back {
      cursor: pointer;
      font-size: 16px;
      color: #666666;
      margin: 16px 0px;
      transition: 0.5s;
      &:hover {
        color: #333333;
      }
    }
  }
  img {
    width: 100%;
    &.logo {
      width: 100px;
      float: right;
    }
    &.nav {
      width: 30px;
    }
    &.photo {
      position: relative;
      margin: 0px -50px;
      width: 140%;
      max-height: 250px;
      overflow: hidden;
    }
    &.spaceTypeIcon {
      width: 40px;
    }
  }
  .underContainer {
    padding: 20px 0px;
    .containNum, .address, .date, .paymentWay, .remark {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .containNum p {
      font-size: 20px;
      margin: 10px 10px;
    }
    .address p, .date p, .paymentWay p, .remark p {
      margin: 10px 10px;
    }
    .containNum .num, .address .num, .date .num, .paymentWay .num, .remark .num {
      width: 30px;
      height: 15px;
    }
  }
}

input, textarea, select, option {
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
  background-color: #f3f7f7;
}

input {
  color: #666666;
  &[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
  }
}

[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.description {
  margin-bottom: 16px;
}

ul {
  padding: 0px;
  li {
    display: inline-block;
    font-size: 10px;
    background-color: #353535;
    color: #f3f7f7;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 2px;
    list-style: none;
  }
}

button {
  float: right;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px;
  width: 20%;
  color: #666666;
  cursor: pointer;
  transition: 0.8s;
  &:hover {
    background-color: rgba(102, 102, 102, 0.5);
    color: #f3f7f7;
  }
}

.remarkInput {
  width: 300px;
  height: 180px;
}

.paymentWay {
  margin-top: 10px;
  font-size: 14px;
}